body {
  margin: 0;
  text-align: center;
  font-family: Silkscreen;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 4.25rem;
  color: #27296d;
  line-height: 4;
}

h2 {
  font-size: 2.5rem;
  color: #27296d;
  font-weight: normal;
}

a, h3 {
  color: #a393eb;
}

.top-container {
  background-color: #5e63b6;
  padding-top: 5px;
  position: relative;
}
.bottom-container {
  margin: 25px;
}
.bottom-cloud {
  position: absolute;
  right: 300px;
  bottom: 300px;
  animation: cloudmove2 25s ease-in forwards infinite alternate;
}

.top-cloud {
  animation: cloudmove 30s ease-in forwards infinite alternate;
}

@keyframes cloudmove {
  0%{
  transform: translateX(-100%);
  }
  100%{
  transform: translateX(100%);
  }
}
@keyframes cloudmove2 {
  0%{
  transform: translateX(100%);
  }
  100%{
  transform: translateX(-100%);
  }
}

.profilePic {
  margin: 75px;
  height: 200px;
  width: auto;
}
.contact-me p{
  margin: 25px;
}
.computer-img1 {
  height: 250px;
  width: auto;
  float: left;
  margin-right: 30px;

}

.skills {
  width: 70%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-row {
  width: 70%;
  margin: 5px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.skills h2{
  text-align: center;
}
hr{
  border-style: dotted none none;
  width: 8%;
  border-color: #9734d9;
  border-width: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn {
  background: #9734d9;
  background-image: -webkit-linear-gradient(top, #9734d9, #2980b9);
  background-image: -moz-linear-gradient(top, #9734d9, #2980b9);
  background-image: -ms-linear-gradient(top, #9734d9, #2980b9);
  background-image: -o-linear-gradient(top, #9734d9, #2980b9);
  background-image: linear-gradient(to bottom, #9734d9, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.waviy {
  position: relative;
  font-size: 40px;
  color: #27296d;
  font-weight: normal;
  margin: 75px;
 -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}
.waviy span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));

}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
